{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Create Misi Utama</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    {% if request.session.role == 'Admin' %}
        <h3>Create Misi Utama</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="content">
                <label for="Nama">Nama Misi Utama:</label><br>
                <input type="text" name="Nama" id="Nama" autocomplete="off" required>
            </div>

            <div id="content2">
                <label for="Efek_Energi">Efek Energi:</label><br>
                <input type="number" name="Efek_Energi" id="Efek_Energi" autocomplete="off" required>
            </div>

            <div id="content3">
                <label for="Efek_Hubungan_sosial">Efek Hubungan Sosial:</label><br>
                <input type="number" name="Efek_Hubungan_sosial" id="Efek_Hubungan_sosial" autocomplete="off" required>
            </div>

            <div id="content4">
                <label for="Efek_Kelaparan">Efek Kelaparan:</label><br>
                <input type="number" name="Efek_Kelaparan" id="Efek_Kelaparan" autocomplete="off" required>
            </div>

            <div id="content5">
                <label for="Syarat_Energi">Syarat Energi:</label><br>
                <input type="number" name="Syarat_Energi" id="Syarat_Energi" autocomplete="off" required>
            </div>

            <div id="content6">
                <label for="Syarat_Hubungan_sosial">Syarat Hubungan Sosial:</label><br>
                <input type="number" name="Syarat_Hubungan_sosial" id="Syarat_Hubungan_sosial" autocomplete="off" required>
            </div>

            <div id="content7">
                <label for="Syarat_Kelaparan">Syarat Kelaparan:</label><br>
                <input type="number" name="Syarat_Kelaparan" id="Syarat_Kelaparan" autocomplete="off" required>
            </div>

            <div id="content8">
                <label for="Completion_time">Completion Time:</label><br>
                <input type="text" name="Completion_time" id="Completion_time" autocomplete="off" required>
            </div>

            <div id="content9">
                <label for="Reward_koin">Reward Koin:</label><br>
                <input type="number" name="Reward_koin" id="Reward_koin" autocomplete="off" required>
            </div>

            <div id="content10">
                <label for="Reward_xp">Reward XP:</label><br>
                <input type="number" name="Reward_xp" id="Reward_xp" autocomplete="off" required>
            </div>

            <div id="content11">
                <label for="Deskripsi">Deskripsi:</label><br>
                <input type="text" name="Deskripsi" id="Deskripsi" autocomplete="off" required>
            </div>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Simpan</button>
            </div>
        </form>
    {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
    {% endif %}
</body>
</html>