{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Create Makanan</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    {% if request.session.role == 'Admin' %}
        <h3>Create Makanan</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="content">
                <label for="Nama">Nama Makanan:</label><br>
                <input type="text" name="Nama" id="Nama" autocomplete="off" required>
            </div>

            <div id="content2">
                <label for="Harga">Harga:</label><br>
                <input type="number" name="Harga" id="Harga" autocomplete="off" required>
            </div>

            <div id="content3">
                <label for="Tingkat_energi">Tingkat Energi:</label><br>
                <input type="number" name="Tingkat_energi" id="Tingkat_energi" autocomplete="off" required>
            </div>

            <div id="content4">
                <label for="Tingkat_kelaparan">Tingkat Kelaparan:</label><br>
                <input type="number" name="Tingkat_kelaparan" id="Tingkat_kelaparan" autocomplete="off" required>
            </div>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Simpan</button>
            </div>
        </form>
    {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
    {% endif %}
</body>
</html>