{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Create Menjalankan Misi Utama</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    {% if request.session.role == 'Pemain' %}
        <h3>Create Menjalankan Misi Utama</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="content">
                <label for="Nama">Nama Tokoh:</label><br>
                <select class="form-control" name="Nama" id="Nama" required>
                    {% for i in Nama %}
                        <option value="{{i.0}}">{{i.0}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="content2">
                <label for="Nama_Misi">Nama Misi Utama:</label><br>
                <select class="form-control" name="Nama_Misi" id="Nama_Misi" required>
                    {% for i in Nama_Misi %}
                        <option value="{{i.0}}">{{i.0}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Simpan</button>
            </div>
        </form>
    {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
    {% endif %}
</body>
</html>