{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Detail Misi Utama</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Detail Misi Utama</h3>
        <div style="display: block">
            {% if DetailMisiUtama %}
                {% for i in DetailMisiUtama %}
                    <div id="content">
                        <label for="Nama">Nama Misi Utama: {{ i.0 }}</label> 
                    </div>

                    <div id="content2">
                        <label for="Efek_Energi">Efek Energi: {{ i.1 }}</label> 
                    </div>

                    <div id="content3">
                        <label for="Efek_Hubungan_sosial">Efek Hubungan Sosial: {{ i.2 }}</label> 
                    </div>

                    <div id="content4">
                        <label for="Efek_Kelaparan">Efek Kelaparan: {{ i.3 }}</label> 
                    </div>

                    <div id="content5">
                        <label for="Syarat_Energi">Syarat Energi:</label> {{ i.4 }}
                    </div>

                    <div id="content6">
                        <label for="Syarat_Hubungan_sosial">Syarat Hubungan Sosial: {{ i.5 }}</label> 
                    </div>

                    <div id="content7">
                        <label for="Syarat_Kelaparan">Syarat Kelaparan: {{ i.6 }}</label> 
                    </div>

                    <div id="content8">
                        <label for="Completion_time">Completion Time: {{ i.7 }}</label> 
                    </div>

                    <div id="content9">
                        <label for="Reward_koin">Reward Koin: {{ i.8 }}</label> 
                    </div>

                    <div id="content10">
                        <label for="Reward_xp">Reward XP: {{ i.9 }}</label> 
                    </div>

                    <div id="content11">
                        <label for="Deskripsi">Deskripsi: {{ i.10 }}</label> 
                    </div>
                {% endfor %}
            {% endif %}
        </div>
</body>
</html>