{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Makanan</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Makanan</h3>
        <div style="display: block">
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        <th scope ="col">Nama</th>
                        <th scope ="col">Harga</th>
                        <th scope ="col">Tingkat Energi</th>
                        <th scope ="col">Tingkat Kelaparan</th>
                        {% if request.session.role == 'Admin' %}
                            <th scope ="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if Makanan %}
                        {% for i in Makanan %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                <td>{{ i.3 }}</td>
                                {% if request.session.role == 'Admin' %}
                                    <td>
                                        <a href="update/{{ i.0 }}">Update</a>
                                        <a href="delete/{{ i.0 }}">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>
</html>