{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Makan</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Makan</h3>
        <div style="display: block">
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        {% if request.session.role == 'Admin' %}
                            <th scope ="col">Username Pengguna</th>
                        {% endif %} 
                        <th scope ="col">Tokoh</th>
                        <th scope ="col">Waktu</th>
                        <th scope ="col">Nama Makanan</th>
                    </tr>
                </thead>
                <tbody>
                    {% if Makan %}
                        {% for i in Makan %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                {% if request.session.role == 'Admin' %}
                                    <td>{{ i.3 }}</td>
                                {% endif %} 
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>
</html>