{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Menjalankan Misi Utama</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Menjalankan Misi Utama</h3>
        <div style="display: block">
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        {% if request.session.role == 'Admin' %}
                            <th scope ="col">Username Pengguna</th>
                        {% endif %}
                        <th scope ="col">Nama Tokoh</th>
                        <th scope ="col">Nama Misi</th>
                        <th scope ="col">Status</th>
                        {% if request.session.role == 'Pemain' %}
                            <th scope ="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if MenjalankanMisiUtama %}
                        {% for i in MenjalankanMisiUtama %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                {% if request.session.role == 'Admin' %}
                                    <td>{{ i.3 }}</td>
                                {% elif request.session.role == 'Pemain' %}
                                    <td><a href="update/{{ i.0 }}/{{ i.1 }}">Update</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>
</html>