{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Misi Utama</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Misi Utama</h3>
        <div style="display: block">
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        <th scope ="col">Nama Misi</th>
                        <th scope ="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if MisiUtama %}
                        {% for i in MisiUtama %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>
                                    <a href="detail/{{i.0}}">Detail</a><br>
                                    {% if request.session.role == 'Admin' %}
                                        {% for j in MisiUtamaNonDeletable %}
                                            {% if i.0 == j.0 %}
                                                <a href="delete/{{ i.0 }}">Delete</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>
</html>