{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Update Menjalankan Misi Utama</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    {% if request.session.role == 'Pemain' %}
        <h3>Update Menjalankan Misi Utama</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="content">
                <label for="namaTokoh">Nama Tokoh:</label>
                {% for i in namaTokoh %}
                    {{i.0}}
                {% endfor %}
            </div>

            <div id="content2">
                <label for="namaMisi">Nama Misi Utama:</label>
                {% for i in namaMisi %}
                    {{i.0}}
                {% endfor %}
            </div>

            <div id="content3">
                <label for="Status">Status:</label>
                <input type="text" name="Status" id="Status" autocomplete="off" required>
            </div>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Simpan</button>
            </div>
        </form>
    {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
    {% endif %}
</body>
</html>