{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
<title>Home Page</title>
{% endblock title %}

<div>
    {% include 'navbar.html' %}
    <div class="greeting">
        {% if username %}
            <h1>HELLO {{ username }}!</h1>
            {% if request.session.role == 'Admin' %}
                <h1>Role : Admin</h1>

            {% elif request.session.role == 'Pemain' %}
                <h1> Role : Pemain</h1>

        {% endif %}

        {% else %}
            <h1>Halo Silahkan Login!</h1>
        {% endif %}
        <h3>Welcome to Kelompok D01 Basis Data</h3>
    </div>
</div>

</body>
</html>