{% load static %}


{% block css %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Login</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h5 style="color: red;">{{ message }}</h5>
        <h4>Masuk ke akun Admin</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="username">Username </label><br>
            <input type="username" id="username" name="username" autocomplete="off" required><br>
            <label for="password">Password </label><br>
            <input type="password" id="password" name="password" autocomplete="off" required><br>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Masuk</button>
            </div>
        </form>
    </div>
</body>
<script>
    function validating(){
        window.location.replace("..");
    }
</script>
</html>