<!DOCTYPE html>
<html>
<head>
    {% include 'navbar.html' %}
</head>
<body>

<h1>Profile</h1>

<table>
    {% if request.session.role == 'Pemain' %}
    {% if profile %}
    {% for i in profile %}
  <tr>
    <th scope ="col">Name : </th>
    <td> {{ i.0 }}</td>

  </tr>
  <tr>
    <th scope ="col">Email : </th>
    <td>{{ i.1 }}</td>
  </tr>  
  <tr>
    <th scope ="col">Phone : </th>
    <td>{{ i.2 }}</td>
  </tr>
      <tr>
    <th scope ="col">Koin : </th>
    <td>{{ i.3 }}</td>
  </tr>
    {% endfor %}
    {% endif %}
    {% endif %}

</table>

</body>
</html>
