<!DOCTYPE html>
<html>
<head>
    {% include 'navbar.html' %}
</head>
<body>

<h1>Profile</h1>

<table>
    {% if request.session.role == 'Admin' %}
    {% if profileAdmin %}
    {% for i in profileAdmin %}
  <tr>
    <th scope ="col">Username : </th>
    <td>{{ i.0 }}</td>

  </tr>
      <tr>
    <th scope ="col">Role : </th>
    <td>Admin</td>

  </tr>
    {% endfor %}
    {% endif %}
    {% endif %}

</table>

</body>
</html>