{% load static %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

{% block css %}

{% endblock %}

{% block title %}
<title>Register</title>
{% endblock title %}

<body>
    <div id="content">
        <h3>Registrasi Akun</h3>
        <form id="role" action="">
            <label>Jenis Akun</label><br>
            <select name="instansi" id="instansi">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select><br>
        </form>
        <div id='button-wrapper'>
                <button id="submit" type="button">Lanjut</button>
        </div>
    </div>
</body>
<script type="text/javascript">
    $( document ).ready(function() {
        $("#submit").on("click",function(){
        var valuee = $("#instansi")
        var isi = $(valuee).val();
        if(isi === "admin"){
            $("#role").attr("action","admin")
        }
        else{
            $("#role").attr("action","user")
        }
        $("#role").submit()
        });
    });

</script>
