{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Registrasi</title>
{% endblock title %}

<body>
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        <h3>Registrasi User</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Akun:</b></p>
            <div><label>Username</label><br>
            <input name="username" type="text" placeholder="username" autocomplete="off" required>
            </div>
            <div><label>Email</label><br>
            <input name="email" type="text" placeholder="email" autocomplete="off" required>
            </div>
            <div><label>Password</label><br>
            <input name="password" type="password" placeholder="password" autocomplete="off" required>
            </div>
            <div>
                <label>No. HP</label><br>
            <input name="noHP" type="text" placeholder="noHP" autocomplete="off" required><br><br>
            </div>





            <div id='button-wrapper'>
                <button id="submit" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>