{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Registrasi</title>
{% endblock title %}

<body>
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        <h3>Registrasi Akun Admin</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Akun:</b></p>
            <label>Username</label><br>
            <input type="text" name="username" placeholder="username" autocomplete="off" required>
            <div>
            <label>Email</label><br>
            <input type="text" name="email" placeholder="email" autocomplete="off" required>
            <div>
                <label>Password</label><br>
            <input type="password" name="password" placeholder="password" autocomplete="off" required>
            </div>


            <div id='button-wrapper'>
                <button id="submit" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>