{% load static %}
{% block css %}
{% endblock %}
{% block title %}
<title>Create Warna</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <div style="padding: 10px;" id="content">
        {% if request.session.role == 'Admin' %}
        <h3>Tambah Warna Kulit</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Warna:</b></p>
            <label for="nama_tokoh">Kode Warna</label><br>
            <input type="color" name="kode" id="kode" value="#ff0000">
            <div style="padding-top: 10px;" id='button-wrapper'>
                <button id="submit" type="submit">Tambahkan</button>
            </div>
            <h2 style="color: red; text-align: center;">{{message}}</h2>
            <div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>