{% load static %}
{% block css %}
{% endblock %}
{% block title %}
<title>Create Menggunakan Apparel</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <div style="padding: 10px;" id="content">
        {% if request.session.role == 'Pemain' %}
        <h3>Tambah Menggunakan Apparel</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Menggunakan Apparel:</b></p>
            <label for="nama_tokoh">Nama Tokoh: </label>
            <select class="form-control" name="nama_tokoh" id="nama_tokoh">
                {%for i in tokoh %}
                <option value="{{i.1}}">{{i.1}}</option>
                {% endfor %}
            </select><br>

            <label for="id_koleksi">ID Koleksi Apparel: </label>
            <select class="form-control" name="id_koleksi" id="id_koleksi">
                {%for i in apparel %}
                <option value="{{i.0}}">{{i.0}}</option>
                {% endfor %}
            </select><br>

            <div style="padding-top: 10px;" id='button-wrapper'>
                <button id="submit" type="submit">Pakai</button>
            </div>

            <h2 style="color: red; text-align: center;">{{message}}</h2>
            <div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>