{% load static %}


{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Menggunakan Apparel</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Menggunakan Apparel</h3>
        <div style="display: block">
            {% if request.session.role == 'Pemain' %}
            <a href="create/">Create Menggunakan Apparel</a>
            {% endif %}
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        {% if request.session.role == 'Admin' %}
                            <th scope ="col">Username Pemain</th>
                        {% endif %}
                        <th scope ="col">Nama Tokoh</th>
                        <th scope ="col">Nama Apparel</th>
                        <th scope ="col">Warna</th>
                        <th scope ="col">Nama Pekerjaan</th>
                        <th scope ="col">Kategori</th>
                        {% if request.session.role == 'Pemain' %}
                            <th scope ="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if apparel %}
                        {% for i in apparel %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                {% if request.session.role == 'Admin' %}
                                    <td>{{ i.0 }}</td>
                                {% endif %}
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                <td>{{ i.3 }}</td>
                                <td>{{ i.4 }}</td>
                                <td>{{ i.5 }}</td>
                                <td>
                                    {% if request.session.role == 'Pemain' %}
                                        <a href="delete/{{ i.6 }}">Lepas</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <h2 style="color: red; text-align: center;">{{ message }}</h2>
        </div>
</body>
</html>