<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Cims</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/bekerja">Bekerja</a></li>
      <li><a href="/pekerjaan">Pekerjaan</a></li>
      <li><a href="/menggunakan-barang">Menggunakan Barang</a></li>
      <li><a href="/warna-kulit">Warna Kulit</a></li>
      <li><a href="/level">Level</a></li>
      <li><a href="/menggunakan-apparel">Menggunakan Apparel</a></li>
        {% if request.session.username %}
            <li class='nav-item'>
                <a href="{% url 'mainApp:Logout' %}">
                    <button type='button' class='btn btn-success btn-md'>Keluar</button>
                </a>
            </li>
        {% else %}
            <li class='nav-item'>
                <a href="{% url 'mainApp:Login' %}">
                    <button type='button' class='btn btn-success btn-md'>Masuk</button>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

</body>
</html>
