{% load static %}
{% block css %}
{% endblock %}
{% block title %}
<title>Create Level</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <div style="padding: 10px;" id="content">
        {% if request.session.role == 'Admin' %}
        <h3>Tambah Level</h3>
        <form action="" method="post">
            {% csrf_token %}
            <p><b>Informasi Level:</b></p>
            <label for="nama_tokoh">Level: {{ level }}</label><br>

            <label for="nama_tokoh">XP: </label>
            <input type="text" name="xp" id="xp" required><br>

            <div style="padding-top: 10px;" id='button-wrapper'>
                <button id="submit" type="submit">Tambahkan</button>
            </div>
            <h2 style="color: red; text-align: center;">{{ message }}</h2>
            <div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>