{% load static %}


{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Warna Kulit</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Warna Kulit</h3>
        <div style="display: block">
            {% if request.session.role == 'Admin' %}
                <a href="create/">Create Warna Kulit</a>
            {% endif %}
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        <th scope ="col">Kode</th>
                    </tr>
                </thead>
                <tbody>
                    {% if warna_kulit %}
                        {% for i in warna_kulit %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>
                                    {% if request.session.role == 'Admin' %}
                                        <a href="delete/{{ i.0|slice:'1:' }}">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <h2 style="color: red; text-align: center;">{{ message }}</h2>
        </div>
</body>
</html>