body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #1c2a35;
}

.cust-container {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #1c2a35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cust-card {
  margin: 30px;
  width: 400px;
  background-color: white;
}

.logo {
  text-align: left;
  font-family: "Klavika Bold", sans-serif;
}

/**/

.error-message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  background-color: rgb(235, 149, 149);
  border-radius: 4px;
}

.form-input div {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

input {
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color: #1c2a35;
  margin-left: 10px;
  outline: 0;
  padding: 16px 14px;
  height: 20px;
  width: 300px;
}

.input-warning {
  display: block;
  font-size: 12px;
  color: #1c2a35;
  margin-top: -10px;
  margin-left: 35px;
  max-width: 250px;
  width: 100%;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.icon-img {
  width: 32px;
  height: 32px;
}

.submit-button {
  width: 100%;
  background-color: #acacac;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  padding: 15px;
  cursor: default;
  pointer-events: none;
}

.fade {
  animation-name: cust-fade;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes cust-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .cust-container {
    flex-direction: column;
  }

  .logo {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .cust-card {
    width: 100%;
  }

  .responsive-span {
    display: block;
  }

  input {
    width: 100%;
  }
}
