{% load static %}


{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Bekerja</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Bekerja</h3>
        <div style="display: block">
            <a href='../create_tokoh/' id='create_tokoh'>Bekerja</a>
            <table class ="table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        <th scope ="col">Username Pengguna</th>
                        <th scope ="col">Nama_tokoh</th>
                        <th scope ="col">Timestamp</th>
                        <th scope ="col">Nama Pekerjaan</th>
                        <th scope ="col">Keberangkatan Ke</th>
                        <th scope ="col">Honor</th>

                    </tr>
                </thead>
                <tbody>
                    {% if bekerja %}
                        {% for i in bekerja %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                <td>{{ i.3 }}</td>
                                <td>{{ i.4 }}</td>
                                <td>{{ i.5 }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
</body>
</html>