{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Buat Tokoh</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
<h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        {% if request.session.role == 'Pemain' %}
        <h3>Tambah Tokoh</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Tokoh:</b></p>
            <body>
    <div>
                    <label for="listtokoh">List Tokoh:</label>
        <select class="form-control" name="listtokoh" id="listtokoh" >
          {%for i in listtokoh %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>
    </div>

            <label for="list_barang">Barang:</label>
        <select class="form-control" name="list_barang" id="list_barang" required>
          {%for i in list_barang %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>

</body>
            <div id='button-wrapper'>
                <button id="submit" type="submit">Tambahkan</button>
            </div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>