{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/penjadwalan/penjadwalan.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% include 'navbar.html' %}
{% block title %}
<title>Buat Bekerja</title>
{% endblock title %}
<h1>List Bekerja</h1>
<table class="table table-striped">
<tr>
    <th scope ="col">Nama Tokoh</th>
    <th scope ="col">Nama Pekerjaan</th>
    <th scope ="col">Base Salary</th>
    <th scope ="col">Action</th>
</tr>
    <tbody>

    {% for res in result %}
 <tr id="myUL">
                                <td>{{ res.0 }}</td>
                                <td>{{ res.1 }}</td>
                                <td>{{ res.2 }}</td>
    <td>
         <a href="create/{{ res.0 }}">Mulai Bekerja!</a>
    </td>
        {% endfor %}
</tr>
    </tbody>
</table>