{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Buat Tokoh</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        {% if request.session.role == 'Pemain' %}
        <h3>Tambah Tokoh</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Tokoh:</b></p>
            <label for="nama_tokoh">Nama Tokoh</label><br>
            <input type="text" name="nama_tokoh" id="nama_tokoh" autocomplete="off" required>
            <div>
            <body>
    <div id="content2">

            <label>Jenis Kelamin</label><br>
            <select class="form-control" name="jenis_kelamin" id="jenis_kelamin">
                <option value="Laki-Laki">Laki-Laki</option>
                <option value="Perempuan">Perempuan</option>
                <option value="Other">Other</option>
            </select><br>

    </div>
    <div>
                    <label for="warna_kulit">Warna Kulit:</label>
        <select class="form-control" name="warna_kulit" id="warna_kulit" >
          {%for i in warna_kulit %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>
    </div>

            <label for="nama_pekerjaan">Nama Pekerjaan:</label>
        <select class="form-control" name="nama_pekerjaan" id="nama_pekerjaan" >
          {%for i in pekerjaan %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>


</body>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Tambahkan</button>
            </div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>