<!DOCTYPE html>
<html>
<head>
    {% include 'navbar.html' %}
</head>
<title>Detail Tokoh</title>
<body>
<h1>Detail Tokoh</h1>

<table>
    {% if request.session.role == 'Pemain' %}
    {% if detailtokoh %}
    {% for i in detailtokoh %}
  <tr>
    <th scope ="col">Name : </th>
    <td> {{ i.0 }}</td>

  </tr>
  <tr>
    <th scope ="col">ID Rambut : </th>
    <td>{{ i.1 }}</td>
  </tr>
  <tr>
    <th scope ="col">ID Mata : </th>
    <td>{{ i.2 }}</td>
  </tr>
      <tr>
    <th scope ="col">ID Rumah : </th>
    <td>{{ i.3 }}</td>
  </tr>
          <tr>
    <th scope ="col">Warna Kulit : </th>
    <td>{{ i.4 }}</td>
  </tr>
              <tr>
    <th scope ="col">Pekerjaan : </th>
    <td>{{ i.5 }}</td>
  </tr>


    {% endfor %}
    {% endif %}
    {% endif %}

</table>

</body>
</html>