{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/penjadwalan/penjadwalan.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Pekerjaan</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>List Tokoh</h3>
        <div style="display: block">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope ="col">Username Pengguna</th>
                        <th scope ="col">Nama Tokoh</th>
                        <th scope ="col">Jenis_kelamin</th>
                        <th scope ="col">Status</th>
                        <th scope ="col">XP</th>
                        <th scope ="col">Energi</th>
                        <th scope ="col">Kelaparan</th>
                        <th scope ="col">Hubungan_sosial</th>
                        <th scope ="col">Warna_kulit</th>
                        <th scope ="col">Level</th>
                        <th scope ="col">Sifat</th>
                        <th scope ="col">Pekerjaan</th>
                        <th scope ="col">ID_Rambut</th>
                        <th scope ="col">ID_Mata</th>
                        <th scope ="col">ID_Rumah</th>
                        {% if request.session.role == 'Pemain' %}
                            <th scope ="col">Action</th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                    {% if tokoh %}
                        {% for i in tokoh %}
                            <tr id="myUL">
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.2 }}</td>
                                <td>{{ i.3 }}</td>
                                <td>{{ i.4 }}</td>
                                <td>{{ i.5 }}</td>
                                <td>{{ i.6 }}</td>
                                <td>{{ i.7 }}</td>
                                <td>{{ i.8 }}</td>
                                <td>{{ i.9 }}</td>
                                <td>{{ i.10 }}</td>
                                <td>{{ i.11 }}</td>
                                <td>{{ i.12 }}</td>
                                <td>{{ i.13 }}</td>
                                <td>{{ i.14 }}</td>
                                {% if request.session.role == 'Pemain' %}
                                    <td><a href="detail/{{ i.0 }}">Detail</a></td>
                                    <td><a href="update/{{ i.1 }}">Update</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
        </div>

</body>
</html>