{% load static %}


{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Menggunakan Barang</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Menggunakan Barang</h3>
            <table class = "table">
                <thead>
                    <tr>
                        <th scope ="col">Username Pengguna</th>
                        <th scope ="col">Nama Tokoh</th>
                        <th scope ="col">Nama Barang</th>
                        <th scope ="col">Waktu</th>

                    </tr>
                </thead>
                <tbody>

                        {% for i in barang %}
                            <tr id="myUL">
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>{{ i.6 }}</td>
                                <td>{{ i.2 }}</td>

<!--                                <td>{{ i.2 }}</td>-->
<!--                                <td>{{ i.3}}</td>-->
<!--                                <td>-->
<!--                                    {% if role.condition is true %}-->
<!--                                        <a href="update/{{ i.0 }}">Update</a>-->
<!--                                        <a href="delete/{{ i.0 }}">Delete</a>-->
<!--                                        <a href="{{i.0}}">Detail</a>-->
<!--                                    {% else %}-->
<!--                                        <a href="read/{{ i.0 }}">Read</a>-->
<!--                                    {% endif %}-->
<!--                                </td>-->
                            </tr>
                        {% endfor %}

                </tbody>
                {% if request.session.role == 'Pemain' %}
                <li class='nav-item'>
                <a href='penggunaan/' id = 'penggunaan-barang'>
                    <button type='button' class='btn btn-success btn-md'>Gunakan Barang Sekarang!</button>
                    {% endif %}
            </table>
        </div>
</body>
</html>