<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The Cims</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pekerjaan 🔻
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div>

                <a class="dropdown-item" href="/bekerja">Lihat Aktivitas Bekerja</a>

            </div>
            <div>
                {% if request.session.role == 'Pemain' %}
                <a class="dropdown-item" href="/bekerja/buatbekerja">Buat Bekerja</a>
                {% endif %}
            </div>
          <div>
              <a class="dropdown-item" href="/pekerjaan/">List Pekerjaan</a>
          </div>
      </li>
      <li><a href="/menggunakan-barang">Menggunakan Barang</a></li>
        <li><a href="/warna-kulit">Warna Kulit</a></li>
      <li><a href="/level">Level</a></li>
      <li><a href="/menggunakan-apparel">Menggunakan Apparel</a></li>


        {% if request.session.role == 'Admin' %}
            <li><a href="/profile-admin">Profile</a></li>
        {% elif request.session.role == 'Pemain' %}
            <li><a href="/profile">Profile</a></li>
        {% endif %}

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tokoh 🔻
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div>
                {% if request.session.role == 'Pemain' %}
                <a class="dropdown-item" href="/create-tokoh/">Create</a>
                {% endif %}
            </div>
<<<<<<< HEAD
          <div>
              <a class="dropdown-item" href="/list-tokoh/">Lihat Tokoh</a>
=======
            <div>
              <a class="dropdown-item" href="../list-tokoh/">Lihat Tokoh</a>
            </div>
>>>>>>> implement-purple-crud
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Misi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.session.role == 'Admin' %}
            <div>
                <a class="dropdown-item" href="/create-misi-utama">Buat Misi Utama</a>
            </div>
          {% endif %}
            <div>
                <a class="dropdown-item" href="/misi-utama">List Misi Utama</a>
            </div>
          {% if request.session.role == 'Pemain' %}
            <div>
                <a class="dropdown-item" href="/create-menjalankan-misi-utama">Buat Menjalankan Misi Utama</a>
            </div>
          {% endif %}
            <div>
                <a class="dropdown-item" href="/menjalankan-misi-utama">List Menjalankan Misi Utama</a>
            </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Makan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.session.role == 'Admin' %}
            <div>
                <a class="dropdown-item" href="/create-makanan">Buat Makanan</a>
            </div>
          {% endif %}
            <div>
                <a class="dropdown-item" href="/makanan">List Makanan</a>
            </div>
          {% if request.session.role == 'Pemain' %}
            <div>
              <a class="dropdown-item" href="/create-makan">Buat Makan</a>
            </div>
          {% endif %}
            <div>
              <a class="dropdown-item" href="/makan">List Makan</a>
            </div>
      </li>

        {% if request.session.username %}
            <li class='nav-item'>
                <a href="{% url 'mainApp:Logout' %}">
                    <button type='button' class='btn btn-success btn-md'>Keluar</button>
                </a>
            </li>
        {% else %}
            <li class='nav-item'>
                <a href="{% url 'mainApp:Login' %}">
                    <button type='button' class='btn btn-success btn-md'>Masuk</button>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

</body>
</html>
