{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/penjadwalan/penjadwalan.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
<title>Pekerjaan</title>
{% endblock title %}

<body>
{% include 'navbar.html' %}
    <div id="content">
        <h3>Pekerjaan</h3>
        <div style="display: block">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope ="col">No</th>
                        <th scope ="col">Nama Pekerjaan</th>
                        <th scope ="col">Base_Honor</th>

                    </tr>
                </thead>
                <tbody>
                    {% if pekerjaan %}
                        {% for i in pekerjaan %}
                            <tr id="myUL">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.0 }}</td>
                                <td>{{ i.1 }}</td>
                                <td>
                                    {% if request.session.role == 'Admin' %}
                                        <a href="update/{{ i.0 }}">Update</a>
                                        <a href="delete/{{ i.0 }}">Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                {% if request.session.role == 'Admin' %}
            <li class='nav-item'>
                <a href='../tambahpekerjaan/' id = 'create-pekerjaan'>
                    <button type='button' class='btn btn-success btn-md'>Tambah Pekerjaan</button>
            {% endif %}
            </table>
        </div>
</body>
</html>