{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Tambahkan Pekerjaan</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        {% if request.session.role == 'Admin' %}
        <h3>Tambah Pekerjaan</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Pekerjaan:</b></p>
            <label>Nama Pekerjaan</label><br>
            <input type="text" name="nama" placeholder="Nama Pekerjaan" autocomplete="off" required>
            <div>
                <label>Base Honor</label><br>
            <input type="number" name="base_honor" placeholder="Base Honor" autocomplete="off" required>
            </div>


            <div id='button-wrapper'>
                <button id="submit" type="submit">Tambahkan</button>
            </div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>