{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Update Pekerjaan</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        {% if request.session.role == 'Admin' %}
        <h3>Update Pekerjaan</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Tokoh:</b></p>
            <label >Nama Pekerjaan</label><br>
                {% if nama_kerjaan %}
                    {% for i in nama_kerjaan %}
            <tr>
             <td> {{ i.0 }} [Disabled]</td>
            <div>
            <body>
    <div>
            {% endfor %}
    {% endif %}
        <label>Base Honor</label><br>
        <input type="number" name="base_honor" placeholder="Base Honor" autocomplete="off" required>
    </div>


</body>

            <div id='button-wrapper'>
                <button id="submit" type="submit">Update</button>
            </div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>