{% load static %}


{% block css %}

{% endblock %}

{% block title %}
<title>Update Tokoh</title>
{% endblock title %}
<body>
{% include 'navbar.html' %}
    <h2 style="color: red; text-align: center;">{{ message }}</h2>
    <div id="content">
        {% if request.session.role == 'Pemain' %}
        <h3>Tambah Tokoh</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Informasi Tokoh:</b></p>
            <label >Nama Tokoh</label><br>
                {% if namatokoh %}
                    {% for i in namatokoh %}
            <tr>
             <td> {{ i.0 }} [Disabled]</td>
            <div>
            <body>
    <div>
            {% endfor %}
    {% endif %}
                    <label for="idRambut">ID Rambut:</label>
        <select class="form-control" name="idRambut" id="idRambut" >
          {%for i in idRambut %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>
    </div>

            <label for="idMata">ID Mata:</label>
        <select class="form-control" name="idMata" id="idMata" >
          {%for i in idMata %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>
    <div>

                    <label for="idRumah">ID Rumah:</label>
        <select class="form-control" name="idRumah" id="idRumah" >
          {%for i in idRumah %}
          <option value="{{i.0}}">{{i.0}}</option>
          {% endfor %}

            </select><br>
    </div>


</body>
            <div id='button-wrapper'>
                <button id="submit" type="submit">Update</button>
            </div>
        </form>
        {% else %}
        <h4>Anda tidak punya akses ke halaman ini!</h4>
        {% endif %}
    </div>
</body>
</html>